.Home {
  text-align: center;
  color: rgb(100, 65, 165);
  padding: 5px;
}

.loading,
.errors {
  float: right;
  margin-right: 42rem;
  margin-top: 5rem;
}

nav {
  background-color: lightgrey;
  padding: 5px;
}

select,
input {
  padding: 5px;
  margin-right: 15px;
}

button {
  padding: 5px;
}

a {
  color: blueviolet;
  margin-left: 5rem;
}

ul {
  list-style-type: none;
}

ul.twitch-data-list {
  float: right;
  margin-right: 33rem;
  margin-top: 3rem;
  text-align: left;
}
